/** Media Queries **/
@mixin phone {
    @media (min-width: #{$phone}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin grid($columns, $gap) {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin button($bg, $color, $weight, $padding, $display){
    background-color: $bg;
    color: $color;
    font-weight: $weight;
    text-decoration: none;
    padding: $padding;
    text-align: center;
    margin-top: calc($gap / 2);
    display: $display;
    border: none;

    &:hover {
        background-color: darken($bg, 5);
        cursor: pointer;
    }
}